{% extends 'auth/base.html' %}
{% block content %}
{% load static %}


<div id="titre_sign">
    <div>
        <h2>
            Inscriver-vous maintenant
        </h2>
        <a id="a_b" href="{% url 'signup'  %}">S'inscrire</a>
    </div>

    <div class="form_login">
        <h2>
            Connectez vous :
        </h2>
        <form action="" method="post" novalidate>
            <div>
                <a class="content_input">{{form.as_p}}</a>
            </div>

            <div>
                <a class="content_input"> {% csrf_token %}</a>
            </div>

            <button type="submit">Connexion</button>
        </form>
    </div>

</div>


{% endblock %}
