{% extends 'auth/base.html' %}
{% load static %}
{% block content %}



<div id="titre_sign">
    <div>
        <h2 style="margin-bottom: 60px">
            Inscrivez-vous maintenant
        </h2>
        <a style="margin: 600px 150px;" id="a_b" href="{% url 'signup'  %}">S'inscrire</a>
    </div>

    <div class="form_login">
        <h2 style="margin-bottom: 60px;">
            Connectez vous :
        </h2>
        <form style="margin-left: 45px;" action="" method="post" novalidate>
            <div>
                <a class="content_input">{{form.as_p}}</a>
            </div>

            <div>
                <a class="content_input"> {% csrf_token %}</a>
            </div>

            <button style="margin-left: 100px" class="btn btn-outline-primary" type="submit">Connexion</button>
        </form>
    </div>

</div>


{% endblock %}
