{% extends 'flux/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Suivre d'autre utilisateur</h1>
        <form class="d-flex" method="post" action="{% url 'search' %}" name="ows">
            {% csrf_token %}
            <input class="form-control me-2"
                   type="search" placeholder="rechercher" name="search">
            <button class="btn btn-outline-sucess" type="submit">rechercher</button>

        </form>
        {% if search %}

                <form method="post" action="{% url 'search' %}" name="fo">
                    {% csrf_token %}
                    <label>
                        <input type="text" value="{{ follower }}" name="followed_user" disabled>
                    </label>

                <button type="submit" >follow</button>


                </form>

        {% endif %}
    {{ form.as_p}}
    </div>
{% endblock %}