{% extends 'flux/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Suivre d'autre utilisateur</h1>
        <form class="d-flex" method="post" action="{% url 'search' %}" name="ows">
            {% csrf_token %}
            <input class="form-control me-2"
                   type="search" placeholder="rechercher" name="search">
            <button class="btn btn-outline-sucess" type="submit">rechercher</button>

        </form>

        <p>following : </p>{% for follows in following %}
        {{ follows.followed_user }}<button><a href="{% url 'delete-user' follows.id %}">[Supprimer]</a></button>
<br>
        {% endfor %}
        <br><p>followers : </p>
        {% for follower in followers %}
        {{ follower.user }}<br>
         {% if request.user %}
        {% else %}

        {% endif %}
        {% endfor %}

    </div>
{% endblock %}