{% extends 'flux/base.html' %}
{% load static %}
{% block content %}

    <h1 style="margin-left: 850px">Vos posts</h1>
    <div class="container">
        <div class="row justify-content-evenly p-5 ">

            <div class="col-2 ">
                <a class="btn btn-primary" href="{% url 'create-ticket' %}">Créer ton ticket</a>
            </div>
        </div>
    </div>

    <div class="container-md border border-primary">

        {% for post in posts %}
            {% for review in post.reviews.all %}
                {% if user.request == review.user %}
                    <p>Vous avez publié une critique</p>
                {% else %}
                    <p>{{ review.user }}</p>
                {% endif %}
                <div>{{ review.headline }}</div>
                <div>{{ review.time_created }}</div>
                {% if review.rating == 1 %}
                    <span class="fa fa-star checked"></span>
                {% elif review.rating == 2 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                {% elif review.rating == 3 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                {% elif review.rating == 4 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                {% elif review.rating == 5 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                {% else %}
                    <p>il as eu un 0</p>
                {% endif %}
                <div>{{ review.body }}</div>

            {% endfor %}

            <div style="border: solid;width: auto; height: auto; padding: 30px;margin: 30px">
                <div> publié : {{ post.time_created }}</div>
                <div>{{ post.user }} a publier</div>
                <p>Titre : {{ post.title }}</p>
                {% if post.image %}


                    <img src="{{ post.image.url }}" alt="photo ">

                {% endif %}

            </div>
            {% if post.reviews.user == request.user %}
                {{ post.reviews.all }}
            {% elif post.reviews.all %}
                <a class="btn btn-success pull-right" href="{% url 'update_review' post.id %}">Modifier la review</a>
                <a class="btn btn-danger " href="{% url 'delete_posts' post.id %}">Supprimer</a>
            {% else %}
                <a href="{% url 'ticket_only' post.id %}">Modifier le ticket</a>
                <a class="btn btn-danger " href="{% url 'delete_posts' post.id %}">Supprimer</a>

            {% endif %}
            <div class='border border-3 border-primary' style="margin: 10px 2px 10px 2px"></div>
        {% endfor %}
    </div>


{% endblock %}