{% extends 'flux/base.html' %}
{% load static %}
{% block content %}

    <h1>Yours Posts</h1>
    <div>
        <a href="{% url 'create-ticket' %}">[cree un post]</a>
        {% for post in posts %}
            {% for review in post.reviews.all %}
                {% if user.request == review.user %}
                    <p>Vous avez publié une critique</p>
                {% else %}
                    <p>{{ review.user }}</p>
                {% endif %}
                <div>{{ review.headline }}</div>
                <div>{{ review.time_created }}</div>
                {% if review.rating == 1 %}
                    <span class="fa fa-star checked"></span>
                {% elif review.rating == 2 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                {% elif review.rating == 3 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                {% elif review.rating == 4 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                {% elif review.rating == 5 %}
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                {% else %}
                    <p>il as eut un 0</p>
                {% endif %}
                <div>{{ review.body }}</div>
            {% endfor %}


            <div style="border: solid;width: auto; height: auto; padding: 30px;margin: 30px">
                <div> publié : {{ post.time_created }}</div>
                <div>{{ post.user }} a publier</div>
                <p>Titre : {{ post.title }}</p>
                {% if post.image %}


                    <img src="{{ post.image.url }}" alt="photo ">

                {% endif %}

            </div>
            {% if post.user == request.user %}
                <a href="{% url 'ticket_only' post.id %}">[modifier le ticket]</a>
                <a href="{% url 'delete_posts' post.id %}">[Supprimer]</a>
            {% else %}

            {% endif %}
            <div style="border: solid 2px black"></div>
        {% endfor %}

    </div>


{% endblock %}