{% extends 'flux/base.html' %}
{% load static %}
{% block content %}


 <div class="container-md border border-primary" style="sdisplay:flex; flex-direction: column; align-items: center">
    <p class="text-center">Etes-vous sûr de vouloir supprimer le post ?</p>

    <p class="text-center" > titre : {{ ticket.title }} </p>
    <p class="text-center" > description : {{ ticket.description }} </p>

    {% if ticket.image %}
        <img  class="rounded mx-auto d-block"  src="{{ ticket.image.url }}" alt="photo ">

    {% else %}


    {% endif %}


    <p class="text-center" > Posté par : {{ ticket.user }} </p>
    <p class="text-center" > le : {{ ticket.time_created }} </p>

    <form action="" method="post">
        {% csrf_token %}
        <input class="rounded mx-auto d-block btn btn-danger"  type="submit" value="Supprimer">
    </form>
 </div>
{% endblock %}